<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form">
    <form>
    <table>
      <tr>
        <td colspan=4><b>イベント名</b></td>
      </tr>
      <tr>
        <td colspan=4><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td colspan=4><b>開催日程</b></td>
      </tr>
      <tr>
        <td>年月日：<input type="date"></td>
        <td>開始時刻：<input type="time"></td>
      </tr>
      <tr>
        <td colspan=4><b>締切日時</b></td>
      </tr>
      <tr>
        <td><%= f.number_field :year2 %> 年</td>
        <td><%= f.number_field :month2 %> 月</td>
        <td><%= f.number_field :day2 %> 日</td>
        <td><%= f.text_field :hour2 %>：<%= f.text_field :minute2 %> まで</td>
      </tr>
      <tr>
        <td colspan=4><b>詳細</b></td>
      </tr>
      <tr>
        <td colspan=4><%= f.text_area :free, :size => "100x20" %></td>
      </tr>
    </table>
    </form>
  </div>
<br><br>
  <div class="form">
    <form>
      <input type="date">
      <input type="time">
    </form>
  </div>
<br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
