<h1>Event Management System</h1>

<table border="1">
  <thead>
    <tr>
      <th>イベント名</th>
      <th>開催日程</th>
      <th colspan="2">メニュー</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event %></td>
        <td><%= event.year1 %> 年 <%= event.month1 %> 月 <%= event.day1 %> 日 <%= event.hour1 %>：<%= event.minute1 %> ～</td>
        <td><%= link_to '内容編集', edit_event_path(event) %></td>
        <td><%= link_to 'イベント削除', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'イベント新規作成', new_event_path %>
