<link rel=“stylesheet” href=“events.css”>

<h1>Event Management System</h1>

<table>
  <thead>
    <tr>
      <th>イベント名</th>
      <th>開催日程</th>
      <th colspan="2">メニュー</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event %></td>
        <td><%= event.datetime1 %> ～</td>
        <td><%= link_to '内容編集', edit_event_path(event) %></td>
        <td><%= link_to 'イベント削除', event, method: :delete, data: { confirm: '削除してもよろしいですか' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  
<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"><%= link_to ' イベント新規作成', new_event_path %></span></button>
