<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>イベント名</th>
    <td><%= @event.title %></td>
  </tr>
  <tr>
    <th>開催日程</th>
    <td><%= @event.datetime1 %></td>
  </tr>
  <tr>
    <th>申込締切</th>
    <td><%= @event.datatime2 %></td>
  </tr>
  <tr>
    <th>イベント内容</th>
    <td><%= @event.free %></td>
  </tr>
</table>
<%= link_to '参加者フォーム', "/joins/new?event_id=#{@event.id}" %>
<%= link_to '参加状況', "/joins?event_id=#{@event.id}" %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
