<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Year1:</strong>
  <%= @event.year1 %>
</p>

<p>
  <strong>Month1:</strong>
  <%= @event.month1 %>
</p>

<p>
  <strong>Day1:</strong>
  <%= @event.day1 %>
</p>

<p>
  <strong>Hour1:</strong>
  <%= @event.hour1 %>
</p>

<p>
  <strong>Minute1:</strong>
  <%= @event.minute1 %>
</p>

<p>
  <strong>Year2:</strong>
  <%= @event.year2 %>
</p>

<p>
  <strong>Month2:</strong>
  <%= @event.month2 %>
</p>

<p>
  <strong>Day2:</strong>
  <%= @event.day2 %>
</p>

<p>
  <strong>Hour2:</strong>
  <%= @event.hour2 %>
</p>

<p>
  <strong>Minute2:</strong>
  <%= @event.minute2 %>
</p>

<p>
  <strong>Free:</strong>
  <%= @event.free %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
