<%= form_for(@join) do |f| %>
  <% if @join.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@join.errors.count, "error") %> prohibited this join from being saved:</h2>

      <ul>
      <% @join.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <table>
      <tr>
        <td><b>参加者氏名</b></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><b>社員番号</b></td>
        <td><%= f.number_field :number %></td>
      </tr>
    </table>
  </div>
  
  <div class="actions">
    <%= f.submit "参加" %>
  </div>

  <%= hidden_field_tag :event_id, @event.id %> 
  <% end %>
  

