<h1>Listing joins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Pass</th>
      <th>event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @joins.each.with_index(1) do |join,i| %>
      <tr>
        <td><%= i %></td>
        <td><%= join.name %></td>
        <td><%= join.number %></td>
        <td><%= join.pass %></td>
        <td><%= join.title %></td>
        <td><%= link_to 'Show', join %></td>
        <td><%= link_to 'Edit', edit_join_path(join) %></td>
        <td><%= link_to 'Destroy', join, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Join', new_join_path %>
