
<h1><%=  @event.title if @event %>の参加者一覧</h1>

<table>
  <thead>
    <tr>
      <td></td>
      <th>氏名</th>
      <th>社員番号</th>
      <th>メニュー</th>
    </tr>
  </thead>

  <tbody>
    
    <% @joins.each.with_index(1) do |join,i| %>
      <tr>
        <td class="num"><%= i %></td>
        <td><%= join.name %></td>
        <td class="member_num"><%= join.number %></td>

        <td><%= link_to '参加取消', join, method: :delete, data: { confirm: '取消してもよろしいですか？' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '戻る', "/events" %>
