<h1>＜イベント名（要編集）＞の参加者一覧</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>氏名</th>
      <th>社員番号</th>
    </tr>
  </thead>

  <tbody>
    
    <% @joins.each.with_index(1) do |join,i| %>
      <tr>
        <td><%= i %></td>
        <td><%= join.name %></td>
        <td><%= join.number %></td>
        <td><%= link_to '参加取消', join, method: :delete, data: { confirm: '取消してもよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<<<<<<< HEAD

<%= link_to 'イベント詳細', new_join_path %>

=======
>>>>>>> 306e1f8f7957c612fdcf68a2e0fb64f0ead851ae
