<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @join.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @join.number %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @join.pass %>
</p>

<%= link_to '戻る', "/events" %>